# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Node
node_modules/
npm-debug.log
yarn-error.log

# VS Code
.vscode/

# Project specific
backend/static/uploads/
backend/static/audio/
frontend/public/uploads/
frontend/public/audio/
*.db
*.sqlite3
analysis/
