@media print {
    @page {
        margin: 0;
        size: A4;
    }

    body {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .no-break {
        break-inside: avoid;
    }
}