/* Template 9: Andrew O'Sullivan (Purple/Lavender Accents, Icon-based) */
/* Reference: image_af89f9.png */

@import url('../css/base_styles.css');

body.template-14 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #333;
    background: #f4f4f4;
    font-size: 11pt;
    line-height: 1.5;
}

.resume-container[data-template="template-14"] {
    display: block;
    /* A4 Dimensions */
    width: 210mm;
    min-height: 297mm;
    margin: 30px auto;
    padding: 30px 45px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header/Contact Info */
.resume-container[data-template="template-14"] .resume-header {
    text-align: center;
    margin-bottom: 25px;
}

.resume-container[data-template="template-14"] .resume-header h1 {
    font-size: 28pt;
    font-weight: 500;
    margin-bottom: 5px;
    line-height: 1.2;
    color: #483D8B;
    /* Dark Purple */
}

.resume-container[data-template="template-14"] .section-contact {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 10pt;
    color: #555;
    margin-top: 5px;
}

.resume-container[data-template="template-14"] .section-contact div {
    display: flex;
    align-items: center;
}

.resume-container[data-template="template-14"] .section-contact i {
    margin-right: 5px;
    color: #6A5ACD;
    /* Medium Slate Blue icon */
}

/* Section Title Styling (Icon and Underline) */
.resume-container[data-template="template-14"] .section-title {
    font-size: 14pt;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 25px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    color: #483D8B;
    /* Dark Purple text */
    display: flex;
    align-items: center;
}

.resume-container[data-template="template-14"] .section-title i {
    margin-right: 10px;
    font-size: 18pt;
    color: #6A5ACD;
    /* Medium Slate Blue icon */
}

/* Profile Section */
.resume-container[data-template="template-14"] .section-profile p {
    font-size: 10pt;
    line-height: 1.6;
    color: #555;
}

/* Experience/Education Item Styling */
.resume-container[data-template="template-14"] .item-container {
    margin-bottom: 20px;
    position: relative;
    padding-right: 140px;
    /* Space for the date */
}

.resume-container[data-template="template-14"] h3 {
    font-size: 12pt;
    font-weight: 700;
    margin: 0;
    color: #333;
}

.resume-container[data-template="template-14"] .job-details,
.resume-container[data-template="template-14"] .degree-details {
    font-size: 11pt;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    color: #555;
}

.resume-container[data-template="template-14"] .item-date {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10pt;
    font-weight: 500;
    color: #777;
    text-align: right;
}

/* List Styling */
.resume-container[data-template="template-14"] ul {
    list-style-type: none;
    /* Removed bullets */
    padding-left: 0;
    margin-top: 5px;
    font-size: 10pt;
}

.resume-container[data-template="template-14"] li {
    margin-bottom: 5px;
    padding-left: 15px;
    position: relative;
}

.resume-container[data-template="template-14"] li::before {
    content: "\2022";
    /* Custom bullet point (black dot) */
    color: #6A5ACD;
    /* Purple bullet color */
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


/* Skills Section (Tags/Pills) */
.resume-container[data-template="template-14"] .section-skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.resume-container[data-template="template-14"] .section-skills li {
    list-style: none;
    padding: 5px 15px;
    border: 1px solid #6A5ACD;
    border-radius: 20px;
    background-color: #f8f8ff;
    /* Light background */
    color: #483D8B;
    font-size: 10pt;
    margin: 0;
    display: inline-block;
}

.resume-container[data-template="template-14"] .section-skills li::before {
    content: none;
}

/* Languages */
.resume-container[data-template="template-14"] .section-languages ul {
    display: flex;
    gap: 20px;
    font-size: 10pt;
    padding-left: 0;
}

.resume-container[data-template="template-14"] .section-languages li {
    margin: 0;
    padding-left: 0;
    color: #555;
}